.side-contents
  = render "shared/side_bar" 
.contents
  .contents__header
    .contents__header__left
      .contents__header__left__group
        = @group.name
      .contents__header__left__member
        - @group.users.each do |user|
          = user.name
    .contents__header__btn
      = link_to "Edit", edit_group_path(@group) , class: "contents__header__btn__edit" 
  .contents__messages{'data-group-id':@group.id}
    = render @messages
  .form
    = form_for [@group, @message], class: "new_message" do |f|
      = f.text_field :content, class: 'form__text', placeholder: "type a message"
      .form-box
        = f.label :image, class: "form-box__image" do
          = fa_icon 'picture-o', class: 'icon'
          = f.file_field :image, class: 'form-box__image__file'
      = f.submit 'Send', class: 'submit-btn'